.ad {
  background-color: #000;
  position: absolute;
  top: 50%;
  right: 2%;
  margin-top: -300px;
}

body {
  margin: 0;
  background-image: url('../wood.jpg');
}

.card {
  background-image:url('../cards.png');
  background-size: 2004px 800px;
  width: 141px;
  height: 198px;
  position: absolute;
  z-index: 2;
  box-shadow: #4C4B4A -1px 1px 3px;
  /*border: 1px solid #333;*/
  border-radius: 10px;
  transition: -webkit-transform .6s ease-out;
  transition: -ms-transform .6s ease-out;
  transition: transform .6s ease-out;
  transform: translateX(0px) translateY(0px) rotateZ(0deg);
}

.hidden {
  background-position: -1862px -1px !important;  
}

._A.spade {
  background-position: -1px -401px;
}

._2.spade {
  background-position: -144px -401px;
}

._3.spade {
  background-position: -287px -401px;
}

._4.spade {
  background-position: -430px -401px;
}

._5.spade {
  background-position: -572px -401px;
}

._6.spade {
  background-position: -715px -401px;
}

._7.spade {
  background-position: -858px -401px;
}

._8.spade {
  background-position: -1001px -401px;
}

._9.spade {
  background-position: -1143px -401px;
}

._10.spade {
  background-position: -1286px -401px;
}

._J.spade {
  background-position: -1429px -401px;
}

._Q.spade {
  background-position: -1573px -401px;
}

._K.spade {
  background-position: -1716px -401px;
}

._A.heart {
  background-position: -1px -201px;
}

._2.heart {
  background-position: -144px -201px;
}

._3.heart {
  background-position: -287px -201px;
}

._4.heart {
  background-position: -430px -201px;
}

._5.heart {
  background-position: -572px -201px;
}

._6.heart {
  background-position: -715px -201px;
}

._7.heart {
  background-position: -858px -201px;
}

._8.heart {
  background-position: -1001px -201px;
}

._9.heart {
  background-position: -1143px -201px;
}

._10.heart {
  background-position: -1286px -201px;
}

._J.heart {
  background-position: -1429px -201px;
}

._Q.heart {
  background-position: -1573px -201px;
}

._K.heart {
  background-position: -1716px -201px;
}

._A.diamond {
  background-position: -1px -601px;
}

._2.diamond {
  background-position: -144px -601px;
}

._3.diamond {
  background-position: -287px -601px;
}

._4.diamond {
  background-position: -430px -601px;
}

._5.diamond {
  background-position: -572px -601px;
}

._6.diamond {
  background-position: -715px -601px;
}

._7.diamond {
  background-position: -858px -601px;
}

._8.diamond {
  background-position: -1001px -601px;
}

._9.diamond {
  background-position: -1143px -601px;
}

._10.diamond {
  background-position: -1286px -601px;
}

._J.diamond {
  background-position: -1429px -601px;
}

._Q.diamond {
  background-position: -1573px -601px;
}

._K.diamond {
  background-position: -1716px -601px;
}

._A.club {
  background-position: -1px -1px;
}

._2.club {
  background-position: -144px -1px;
}

._3.club {
  background-position: -287px -1px;
}

._4.club {
  background-position: -430px -1px;
}

._5.club {
  background-position: -572px -1px;
}

._6.club {
  background-position: -715px -1px;
}

._7.club {
  background-position: -858px -1px;
}

._8.club {
  background-position: -1001px -1px;
}

._9.club {
  background-position: -1143px -1px;
}

._10.club {
  background-position: -1286px -1px;
}

._J.club {
  background-position: -1429px -1px;
}

._Q.club {
  background-position: -1573px -1px;
}

._K.club {
  background-position: -1716px -1px;
}

.playerHand {
  transform-origin: 72px 800px;
}

.computerHand {
  transform-origin: 72px -800px;
}

.meld {
  transform-origin: 0px 0px;
}

.winnerModal {
  opacity: .93;
  background-color: #100;
  position: absolute;
  width: 100%;
  height: 80%;
  top: 10%;
  left: -100%;
  z-index: 9999;
  transition: all .4s ease-out;
  transform: translateX(0%);
  font-size: 100px;
  font-family: Arial, sans-serif;
  font-weight: bold;
  color: white;
}

.winnerText {
  text-align: center;
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
}

.computerScore, .playerScore {
  position: absolute;
  left: 50%;
  transform: translateX(-39px);
  color: yellow;
  font-size: 16px;
  font-weight: bold;
  font-family: Arial, sans-serif;
  z-index: 3;
}

.computerScore {
  top: 7px;
}

.playerScore {
  bottom: 7px;
}

.scoreValue {
  color: white;
}

.tip {
  font-style: italic;
  font-size: 16px;
}

.continueModal > .tip {
  padding-top: 20px;
  text-align: center;
}

.continueModal {
  background-color: #100;
  position: absolute;
  width: 38%;
  padding: 28px;
  top: 35%;
  z-index: 9999;
  transition: all .4s ease-out;
  transform: translateX(-100%);
  font-size: 40px;
  font-family: Arial,sans-serif;
  font-weight: 700;
  color: #FFF;
  box-sizing: border-box;
}

.scores {
  display: table;
  width: 100%;
}

.scores > .score {
  display: table-row;
}

.score > .player, .score > .value {
  display: table-cell;
  width: 52px;
}

.score > .value {
  text-align: right;
}

.score > .player {
  padding-left: 18px;
  padding-bottom: 6px;
}

.button {
  background-color: #48DD00;
  border: 0;
  font-size: 30px;
  border-radius: 13px;
  color: #FFF;
  text-shadow: #000 2px 2px;
  padding: 4px 15px 8px 15px;
  margin: 32px auto 5px auto;
  display: block;
  cursor: pointer;
}